*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(192, 190, 190);
}

#nav{
    height: 50px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 0 30px;
}

.nav a{
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 100;
}

#center{
    width: 100%;
    /* background-color: blue; */
    padding: 10px 80px;
}
#center h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;

}

#p{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
} 
#p p{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

#right{
    width: 20%;
}

.elem{
    /* background-color: yellow; */
    margin: px;
    padding: 8px 0px;
    border-top: 0.5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.elem i{
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
}

.elem:hover a{
    text-decoration: underline;
}

.elem:hover i{
    opacity: 100;

}

.nav:hover a{
    text-decoration: underline;
}

#bottom{
    margin-top: 29px;
    height: 40%;
    width: 100%;
    background-image: url(./assets/black-model.jpg);
    background-size: cover;
    background-position: 0% 35%;
}











